@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title AutoMap - GeoFence</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <h2>Log In</h2>

        <div class="row no-gutters m-3">
            <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
                <div class="card-header text-center">
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        <div class="row no-gutters">
                            <div class="form-group col-md-12">
                                <input name="Login" type="email" class="form-control" placeholder="Log In" />
                            </div>
                            <div class="form-group col-md-12">
                                <input name="Password" type="password" class="form-control" placeholder="Password" />
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">Log In</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
