@model WebApplication2.Models.ReadPolygonResponse
@{
    ViewBag.Title = "Areas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["companyId"] = ViewBag.companyId;
}

<title>@ViewBag.Title</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
    <h2>Areas: </h2>
    <h4 style="background-color: yellow;">@TempData["deleteMessage"]</h4>
    <h4 style="background-color: yellow;">@TempData["createMessage"]</h4>
    <h4 style="background-color: yellow;">@TempData["updateMessage"]</h4>

    <h4>
        Drag markers to change area. Click on map to add new marker. Click on existing marker to delete marker. 3 or 4 markers only.<br />
    </h4>

    <div id="buttons">
        <input type="button" value="Create Area" id="Create" onclick="createPolygon()" class="btn btn-primary" style="height:29px; line-height:75%; border-radius:0;" />
        <input type="button" value="Save Changes" id="SaveChanges" class="btn btn-primary" style="height:29px; line-height:75%; border-radius:0;" />
        <input type="button" value="Discard Changes" id="DiscardChanges" onclick="removeMapOnAll()" class="btn btn-primary" style="height:29px; line-height:75%; border-radius:0;" />
        <input type="button" value="Delete Area" id="DeleteArea" class="btn btn-danger" style="height:29px; line-height:75%; border-radius:0;" />
    </div>

    <div id="creating" style="display: none; background-color: yellow;">
        <p>Area Name: @Html.TextBox("Name")</p>
        Click on map to add markers.
        <input type="button" value="Save Changes" id="SaveCreated" class="btn btn-primary" style="height:29px; line-height:75%; border-radius:0;" />
        <input type="button" value="Discard Area" id="DiscardCreated" onclick="removeMapOnAll()" class="btn btn-danger" style="height:29px; line-height:75%; border-radius:0;" />

    </div>
    <div id="map" style="height:400px;width:100%;"></div>
    
    <table class="table">
        <tr>
            <th></th>
            <th>
                Area ID
            </th>
            <th>
                Area Name
            </th>
        </tr>

        @foreach (var polygon in Model.Polygons)
        {
            <tr>
                <td>
                    <a href="@Url.Action("ViewPolygon", "Company", new {
                                companyId = ViewBag.companyId, polyId = polygon.PolygonID, polyName = polygon.PolygonName, polyPoints = Json.Encode(polygon.Points)
                            }, null)" title="View Area">
                        <input type="button" value="View / Update Area" class="btn btn-primary" style="height:29px; line-height:75%; border-radius:0;" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => polygon.PolygonID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => polygon.PolygonName)
                </td>
            </tr>


        }
    </table>

    <script>

        var map;
        var areas = [];
        var area = {};
        var polyPoints = [];
        var marker;
        var markers = [];
        var counter = 0;
        var polygon;
        var editPolygon = null;
        var savePolygon = [];
        var bounds;
        var sortedPoints = [];
        var c = document.getElementById("creating");
        var b = document.getElementById("buttons");
        var listener;

        function initMap() {

            // Remove editing display/ability if it exists.
            listener = null;
            if (c.style.display === "block") {
                c.style.display = "none";
            } else {
                c.style.display = "none";
            }

            // Add all points from all polygons to pointsArray, make pointsArray the map bounds so map
            // can be centered on all polygons.
            var pointsArray = [];
            @foreach (var polygon in Model.Polygons)
            {

                foreach (var d in polygon.Points)
                {

                    @:pointsArray.push({ lat: @d.Latitude, lng: @d.Longitude});
                }
            }
            bounds = new google.maps.LatLngBounds();
            for (var i = 0; i < pointsArray.length; i++) {
                bounds.extend(pointsArray[i]);
            }

            // Initialize map with center being the center of all the points
            map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: bounds.getCenter(),
            //center: { lat: 45.479750227876, lng: -122.674423063477 },
            mapTypeId: 'satellite'
            });

            // Mapping points from model to js array in a format Google Maps likes
            @foreach (var polygon in Model.Polygons)
            {
                @:var pointsArray = [];
                foreach (var d in polygon.Points)
                {

                    @:pointsArray.push({ lat: @d.Latitude, lng: @d.Longitude});
                }
                <text>

                    var polygon = new google.maps.Polygon({
                        paths: pointsArray,
                        strokeColor: 'black',
                        strokeWeight: 2,
                        fillColor: 'black',
                        name: '@polygon.PolygonName',
                        id: @polygon.PolygonID,
                        fillOpacity: 0.2
                    });

                    // Add listener to see if polygon is clicked. Add editable markers and new polygon over clicked on polygon.
                    google.maps.event.addListener(polygon, 'click', function (event) {

                        listener = map.addListener('click', function (location) {
                            addMarker(location.latLng);
                        });
                        // remove any existing markers
                        for (var i = 0; i < markers.length; i++) {
                            markers[i].setMap(null);
                        }
                        markers = [];
                        var polygonBounds = this.getPath();
                        bounds = new google.maps.LatLngBounds();
                        for (var i = 0; i < polygonBounds.length; i++) {
                            var point = {
                                lat: polygonBounds.getAt(i).lat(),
                                lng: polygonBounds.getAt(i).lng()
                            };
                            addMarker(point);
                            bounds.extend(point);
                        }
                        savePolygon = this;

                        map.setZoom(12);

                        map.setCenter(bounds.getCenter());
                    });
                    polygon.setMap(map);
                </text>
            }
        }

        function createPolygon() {
            //e.classList.toggle("btn-danger");

            if (c.style.display === "none") {
                b.style.display = "none"
                c.style.display = "block";
                listener = map.addListener('click', function (location) {
                    addMarker(location.latLng);
                });
            }
            else {
                c.style.display = "block";
                b.style.display = "none";
                google.maps.event.removeListener(listener);
            }
        }

        // Add markers to clicked polygon
        function addMarker(point) {
            if (markers.length < 4) {
                marker = new google.maps.Marker({
                    position: point,
                    draggable: true,
                    id: counter,
                    map: map,
                    icon: {
                        url: "https://maps.gstatic.com/intl/en_us/mapfiles/markers2/measle.png",
                        size: new google.maps.Size(7, 7),
                        anchor: new google.maps.Point(3.5, 3.5)
                    },
                });
                markers.push(marker);
                counter++;
                drawPolyline();
            }

            // event listener for deleting marker, must have at least 3 markers
            marker.addListener('click', function (event) {
                if (markers.length > 3) {
                    for (var i = 0; i < markers.length; i++) {
                        if (markers[i] === this) {
                            this.setMap(null);
                            markers.splice(i, 1);
                            drawPolyline();
                        }
                    }
                }
            });

            // add listener to redraw the polyline when markers position change
            marker.addListener('position_changed', function () {
                drawPolyline();
            });
        }

        // function to dray polygon around markers
        function drawPolyline() {
            var markersPositionArray = [];
            var pointsArray = [];
            var sortedPoints = [];
            var center;
            var heading;

            // obtain latlng of all markers on map
            markers.forEach(function (e) { markersPositionArray.push(e.getPosition()); });

            // get the center of existing polygon
            bounds = new google.maps.LatLngBounds();
            for (var i = 0; i < markersPositionArray.length; i++) {
                bounds.extend(markersPositionArray[i]);
            }
            center = bounds.getCenter();

            // get the heading of each marker compared to the center point, add heading and position of each marker to pointsArray
            markersPositionArray.forEach(function (e) {
                heading = google.maps.geometry.spherical.computeHeading(center, e);
                pointsArray.push({ "position": e, "heading": heading });
            });

            // sort pointsArray based on heading and add position of each sorted marker to sortedArray
            pointsArray.sort(function (a, b) {
                if (a.heading > b.heading) return 1;
                else if (a.heading < b.heading) return -1;
                return 0;
            });
            pointsArray.forEach(function (e) {
                sortedPoints.push(e.position);
            });

            // check if there is already polygon drawn on map
            // remove the polygon from map before we draw new one
            if (editPolygon !== null) {
                editPolygon.setMap(null);
            }

            // Construct the polygon with sortedArray as the paths.
            editPolygon = new google.maps.Polygon({
                map: map,
                paths: sortedPoints,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35
            });
        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // Sets the map on all markers in the array.
        function removeMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            if (editPolygon !== null) {
                editPolygon.setMap(null);
            }
            markers = [];
            savePolygon = [];

            if (c.style.display === "block") {
                b.style.display = "block"
                c.style.display = "none";
                google.maps.event.removeListener(listener);
            }
            else {
                b.style.display = "block";
                c.style.display = "none";
                google.maps.event.removeListener(listener);
            }
            $(document).ready(function () {
                $("#Name").val("");
            });
        }

        // post new polygon data to UpdatePolygon method
        $(document).ready(function(){
            $('#SaveChanges').click(function (e) {
                var url = "@Url.Action("UpdatePolygon","Company")";

                for (var i = 0; i < markers.length; i++) {
                    polyPoints.push(markers[i].position);
                }
                var model = { polyPoints: JSON.stringify(polyPoints), polyId: savePolygon.id, polyName: savePolygon.name };

                $.ajax({
                    type: 'POST',
                    data: model,
                    url: url,
                    success: function (data) {
                        window.location.href = data;
                    }
                });
            });

            // Delete selected area
            $('#DeleteArea').click(function (e) {
                var url = "@Url.Action("DeletePolygon","Company")";

                var model = { polyId: savePolygon.id };

                $.ajax({
                    type: 'POST',
                    data: model,
                    url: url,
                    success: function (data) {
                        window.location.href = data;
                    }
                });
            });

                    // post new polygon data to SaveCreatedPolygon method
        
            $('#SaveCreated').click(function (e) {
                var url = "@Url.Action("SaveCreatedPolygon","Company")";
                for (var i = 0; i < markers.length; i++) {
                    polyPoints.push(markers[i].position);
                }
                var model = { polyPoints: JSON.stringify(polyPoints), polyName: $("#Name").val(), companyId: @ViewBag.companyId };

                $.ajax({
                    type: 'POST',
                    data: model,
                    url: url,
                    success: function (data) {
                        window.location.href = data;
                    }
                });
            });
        

            //$('#DiscardChanges').click(function (e) {
            //    initMap();
            //});

            //$('#Create').click(function (e) {
            //    createPolygon(e);
            //});
        });

    </script>
    @*Enter Your Google Api Key*@
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.apiKey&libraries=geometry&callback=initMap"></script>

</body>
