@model WebApplication2.Models.ReadPolygonResponse
@{
    ViewBag.Title = "Areas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["companyId"] = ViewBag.companyId;
}

<title>@ViewBag.Title</title>


<fieldset>
    <h2>Areas: </h2>
    <h4 style="background-color: yellow;">@TempData["deleteMessage"]</h4>
    <h4 style="background-color: yellow;">@TempData["createMessage"]</h4>
    <h4 style="background-color: yellow;">@TempData["updateMessage"]</h4>
    @{
        <table class="table">
            <tr>
                <th></th>
                <th></th>
                <th>
                    Area ID
                </th>
                <th>
                    Area Name
                </th>
            </tr>



            @foreach (var polygon in Model.Polygons)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("ViewPolygon", "Company", new {
                                companyId = ViewBag.companyId, polyId = polygon.PolygonID, polyName = polygon.PolygonName, polyPoints = Json.Encode(polygon.Points)
                            }, null)" title="View Area">
                            <input type="button" value="View / Update Area" class="btn btn-primary" style="height:29px; line-height:75%; border-radius:0;" />
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("DeletePolygon", "Company", new { polyId = polygon.PolygonID }, null)" title="Delete Area">
                            <input type="button" value="Delete Area" class="btn btn-primary" style="height:29px; line-height:75%; border-radius:0;" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => polygon.PolygonID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => polygon.PolygonName)
                    </td>
                </tr>


            }
            <tr>
                <td>
                    <a href="@Url.Action("CreatePolygon", "Company", new { companyId = ViewBag.companyId }, null)" title="Create New Area">
                        <input type="button" value="Create New Area" class="btn btn-primary" style="height:29px; line-height:75%; border-radius:0;" />
                    </a>
                </td>
            </tr>

        </table>
    }
</fieldset>
